body {
    font-size: 10pt;
}
div.stackheap {
    display: grid;
    grid-template-columns: 34% 33% 33%;
    min-height: 100vh;
}

div.description {
    grid-column: 1;
    padding: 0rem 1rem;
}

div.stack {
    grid-column: 2;
    background-color: #6a7b9c;
    padding: 0rem 1rem;
}

div.heap {
    grid-column: 3;
    background-color: #ffb6cb;
    padding: 0rem 1rem;
}

span.heap-object {
    color: #ffb6cb;
}

ul {
    list-style-type: none;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}


div.step-value {
    font-size: 1.5rem;
}

pre {
    font-size: 0.7rem;
}

h2 {
    font-size: 1.2rem;
}

div.expression-value {
    font-family: 'Courier New', Courier, monospace;
    margin: .5rem 0rem;
    color: #36f;
    font-weight: bold;
    height: 3rem;
}
li.heap-var-active {
    font-weight: bold;
    color: #36f;
}

span.casecont-branch {
    margin-left: 20px;
    border-left: 2px solid black;
    padding-left: .2rem;
}
