body {
    font-size: 0.9rem;
}
div.stackheap {
    display: grid;
    grid-template-columns: 34% 33% 33%;
    min-height: 100vh;
}

div.description {
    grid-column: 1;
    padding: 0rem 1rem;
}

div.stack {
    grid-column: 2;
    background-color: #6a7b9c;
    padding: 0rem 1rem;
}

div.heap {
    grid-column: 3;
    background-color: #ffb6cb;
    padding: 0rem 1rem;
}

span.heap-object {
    color: #ffb6cb;
}

ul {
    list-style-type: none;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.description button:active {
    box-shadow: black 0px 0px;
}

div.step-value {
    font-size: 1.5rem;
}

pre {
    font-size: 0.8rem;
}

h2 {
    font-size: 1.2rem;
}

div.expression-value {
    font-family: 'Courier New', Courier, monospace;
    margin: .5rem 0rem;
    color: red;
    font-weight: bold;
}